body{
  font-family: "Montserrat";
}

* {
  outline: 1px solid limegreen;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}



/* Headings */
.big-heading {
  font-family: "Montserrat-Bold";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}



/* Containers */
.container-fluid {
  padding: 7% 15%;
}



/* Navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubantu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}



/* Title */
#title {
  background-color: #ff4c68;
  color: #fff;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}



/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}



/* Title Image */
.title-img {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
}



/* Features Section */
#features {
  background-color: #fff;
  position: relative;
}

.features-title {
font-weight: 900;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}



/* testimonials section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  margin: 20px;
  border-radius: 100%;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}



/* Press Seciton */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}



/* Pricing Seciton */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.product-name {
  font-weight: 900;
}

.price-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}



/* CTA Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}



/* Footer Section */
#footer {
  text-align: center;

}

.social-icon {
  margin: 20px 10px;
}



/* Media Quaries Responsive */
@media (max-width: 990px) {
  .title-img {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}

